@model ArchiveHist.Models.PoisonBook

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PoisonBook</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poison)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poison)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArsenicWarning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArsenicWarning)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CIdNavigation.CId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
