@model ArchiveHist.Models.Oversized

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Oversized</h4>
    <hr />
    <dl class="row">
        <dt class="col-4 col-md-4 col-lg-3">
            @Html.DisplayNameFor(model => model.BuildingName)
        </dt>
        <dd class="col-8 col-md-8 col-lg-9">
            @Html.DisplayFor(model => model.BuildingName)
        </dd>
        <dt class="col-4 col-md-4 col-lg-3">
            @Html.DisplayNameFor(model => model.YearRange)
        </dt>
        <dd class="col-8 col-md-8 col-lg-9">
            @Html.DisplayFor(model => model.YearRange)
        </dd>
        <dt class="col-4 col-md-4 col-lg-3">
            @Html.DisplayNameFor(model => model.CompanyArchitect)
        </dt>
        <dd class="col-8 col-md-8 col-lg-9">
            @Html.DisplayFor(model => model.CompanyArchitect)
        </dd>
        <dt class="col-4 col-md-4 col-lg-3">
            @Html.DisplayNameFor(model => model.Drawer)
        </dt>
        <dd class="col-8 col-md-8 col-lg-9">
            @Html.DisplayFor(model => model.Drawer)
        </dd>
        <dt class="col-4 col-md-4 col-lg-3">
            @Html.DisplayNameFor(model => model.SideNotes)
        </dt>
        <dd class="col-8 col-md-8 col-lg-9">
            @Html.DisplayFor(model => model.SideNotes)
        </dd>
        <dt class="col-4 col-md-4 col-lg-3">
            @Html.DisplayNameFor(model => model.CId)
        </dt>
        <dd class="col-8 col-md-8 col-lg-9">
            @Html.DisplayFor(model => model.CId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
