@model ArchiveHist.Models.Delancey

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Delancey</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileCabinetDrawerNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileCabinetDrawerNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Format)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Format)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MakersMarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MakersMarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CIdNavigation.CId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
