@model ArchiveHist.Models.Research

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Research</h4>
    <hr />
    <dl class="row">
        <dt class="col-4 col-md-4 col-lg-3">
            @Html.DisplayNameFor(model => model.ResearcherName)
        </dt>
        <dd class="col-8 col-md-8 col-lg-9">
            @Html.DisplayFor(model => model.ResearcherName)
        </dd>
        <dt class="col-4 col-md-4 col-lg-3">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-8 col-md-8 col-lg-9">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-4 col-md-4 col-lg-3">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class="col-8 col-md-8 col-lg-9">
            @Html.DisplayFor(model => model.Team)
        </dd>
        <dt class="col-4 col-md-4 col-lg-3">
            @Html.DisplayNameFor(model => model.VisitedArchives)
        </dt>
        <dd class="col-8 col-md-8 col-lg-9">
            @Html.DisplayFor(model => model.VisitedArchives)
        </dd>
        <dt class="col-4 col-md-4 col-lg-3">
            @Html.DisplayNameFor(model => model.TopicCategory)
        </dt>
        <dd class="col-8 col-md-8 col-lg-9">
            @Html.DisplayFor(model => model.TopicCategory)
        </dd>
        <dt class="col-4 col-md-4 col-lg-3">
            @Html.DisplayNameFor(model => model.SpecificInquiry)
        </dt>
        <dd class="col-8 col-md-8 col-lg-9">
            @Html.DisplayFor(model => model.SpecificInquiry)
        </dd>
        <dt class="col-4 col-md-4 col-lg-3">
            @Html.DisplayNameFor(model => model.DescriptionOfTasksInvolved)
        </dt>
        <dd class="col-8 col-md-8 col-lg-9">
            @Html.DisplayFor(model => model.DescriptionOfTasksInvolved)
        </dd>
        <dt class="col-4 col-md-4 col-lg-3">
            @Html.DisplayNameFor(model => model.ScansTaken)
        </dt>
        <dd class="col-8 col-md-8 col-lg-9">
            @Html.DisplayFor(model => model.ScansTaken)
        </dd>
        <dt class="col-4 col-md-4 col-lg-3">
            @Html.DisplayNameFor(model => model.ReceivingArchivist)
        </dt>
        <dd class="col-8 col-md-8 col-lg-9">
            @Html.DisplayFor(model => model.ReceivingArchivist)
        </dd>
        <dt class="col-4 col-md-4 col-lg-3">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-8 col-md-8 col-lg-9">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-4 col-md-4 col-lg-3">
            @Html.DisplayNameFor(model => model.CId)
        </dt>
        <dd class="col-8 col-md-8 col-lg-9">
            @Html.DisplayFor(model => model.CId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
