@model ArchiveHist.Models.Trunk

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trunk</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingNamePlanTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildingNamePlanTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArchitectFirmAssociated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArchitectFirmAssociated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FolderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FolderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Links)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Links)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CIdNavigation.CId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
