@model IEnumerable<ArchiveHist.Models.Trunk>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BuildingNamePlanTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArchitectFirmAssociated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FolderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Links)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CIdNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingNamePlanTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArchitectFirmAssociated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FolderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Links)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CIdNavigation.CId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
